.bm-menu {
    background-color: green;
}

.fixed-top-2 {
    margin-top: 72px;
    position: realtive;
}

body {
    padding-top: 110px;
}

.customC {
    position: realtive;
}

@media screen and (max-width: 767px) {
    .img3 {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .img4 {
        display: none;
    }
}