.bm-menu {
    background-color: green;
}

body {
    padding-top: 110px;
}

.customC {
    position: realtive;
}

@media screen and (max-width: 455px) {
    .img5 {
        height: 40px;
    }
    .fixed-top-2 {
        margin-top: 77px;
        position: realtive;
    }
}


/* Query para Pantallas Chicas*/

@media (min-width: 456px) and (max-width: 767px) {
    .img5 {
        height: 54px;
    }
    .fixed-top-2 {
        margin-top: 90px;
        position: realtive;
    }
}


/* Query para Pantallas Grandes*/

@media screen and (min-width: 768px) {
    .img5 {
        height: 66px;
    }
    .fixed-top-2 {
        margin-top: 98px;
        position: realtive;
    }
}