.bm-menu {
    background-color: green;
}

body {
    padding-top: 110px;
}

.customC {
    position: realtive;
}


/* Query para Pantallas Chicas*/

@media (min-width: 576px) and (max-width: 767px) {
    .img5 {
        height: 44px;
    }
    .fixed-top-2 {
        margin-top: 86px;
        position: realtive;
    }
}

@media screen and (max-width: 575px) {
    .img5 {
        height: 36px;
    }
    .fixed-top-2 {
        margin-top: 77px;
        position: realtive;
    }
}


/* Query para Pantallas Grandes*/

@media screen and (min-width: 768px) {
    .img5 {
        height: 60px;
    }
    .fixed-top-2 {
        margin-top: 98px;
        position: realtive;
    }
}